@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .menu-header {
        @apply w-[120px] py-5 flex justify-center hover:bg-selected;
    }

    .bg-selected {
        @apply bg-slate-200 font-bold dark:bg-slate-800;
    }

    .custom-shadow {
        @apply shadow-lg dark:shadow-indigo-900/10;
    }

    .menu-sidebar {
        @apply flex w-[201px] py-[20px] justify-center items-center hover:bg-selected
    }
}